<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316595059953-d08od12aku3mt8kg20i618b6dbr92v4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316595059953-d08od12aku3mt8kg20i618b6dbr92v4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316595059953-iic7omeop3tn1gdvv92nq7ipeoa13iuv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9cbnpwG1L4aX-_e2NHlvEzo3BysofH4k</string>
	<key>GCM_SENDER_ID</key>
	<string>316595059953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pigemshubshop.pigemshubshop</string>
	<key>PROJECT_ID</key>
	<string>pigemshubshop</string>
	<key>STORAGE_BUCKET</key>
	<string>pigemshubshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316595059953:ios:0395b88809934767f9fd50</string>
</dict>
</plist>